
*{
  box-sizing: border-box;
} 

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh; 
  margin:0; 
  background-color: rgb(235, 167, 107);
}

.list{ 
  position: relative;
  display: flex;
  flex-direction: column;


}
#heading{
  background-color: rgb(224, 112, 47);
  color:rgba(17, 35, 230, 0.95);
  padding: 2vw;
  text-align: center;
  font-size: 1.8rem;  border:rgb(231, 81, 27);
  box-shadow: 2px 3px 5px 0 rgb(244, 2, 2);  
  height: 6vh; 
  width: 83vw;

}
 
button{ 
    background-color: rgb(248, 229, 19);  
    color: rgb(254, 77, 18);  
    padding: 16px 16px 16px 16px; 
    font-size: 2.5rem;
    border-radius: .3em;
    box-shadow: 2px 3px 5px 0 rgb(231, 81, 27);
    cursor: pointer;
    margin-top: 1em;
    width: 82vw; 
    overflow: auto;
    display: flex; 
    justify-content: space-between;
    border: none;
    text-align: center;  
  } 

br{
    background-color: rgb(255, 255, 255);  
} 
.btns{
  text-align: center; 
  margin: none;
  padding: none;

}  
button:hover{
  background-color:hsl(271, 60%, 38%);
  box-shadow: 2px 3px 5px 0 rgb(231, 81, 27); 
}
.dropdown-content {
  position: absolute;
  /* position: fixed; */
  background-color:hsl(271, 70%, 40%);

  outline: none;
  padding: none;
  align-items: center;
  color:rgb(248, 229, 19);
  font-size: .5em; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  outline: none;
  z-index: 1; 
  padding: 0 1.5em 0 1.5em;
  white-space: pre-line;  
  font-size: 1.00rem;
  margin:  .3em;
  border-radius: .3em;
}
 
  
@media (max-width:600px){
}
